<div ng-class="'prevent-split lt-0-5 left'">
  <ng-form
    name="{{ componentId }}"
    ng-model="data[component.key]"
    ng-required="isRequired(component)"
    custom-validator="component.validate.custom"
  >
    <div
      class="radio"
      ng-class="'col-100 left lb-0-2 def'"
      ng-repeat="v in component.values track by $index"
    >
      <input
        class="radio"
        name="{{ componentId }}"
        type="{{ component.inputType }}"
        id="{{ componentId }}-{{ v.value }}"
        value="{{ v.value }}"
        tabindex="{{ component.tabindex || 0 }}"
        ng-model="data[component.key]"
        ng-required="component.validate.required"
        ng-disabled="readOnly"
      />

      <label for="{{ componentId }}-{{ v.value }}">
        {{ v.label | formioTranslate }}
      </label>
    </div></ng-form
  >
</div>
