<div class="select-boxes">
  <div
    ng-if="component.label && !component.hideLabel"
    for="{{ componentId }}"
    class="default col-100 left lb-0-5"
    ng-class="{'field-required': component.validate.required}"
  >
    {{ component.label }}
  </div>
  <formio-select-boxes
    name="{{componentId}}"
    ng-model="data[component.key]"
    ng-model-options="{allowInvalid: true}"
    component="component"
    component-id="componentId"
    read-only="readOnly"
    ng-required="component.validate.required"
    custom-validator="component.validate.custom"
    grid-row="gridRow"
    grid-col="gridCol"
  ></formio-select-boxes>
  <formio-errors></formio-errors>
</div>
