<div class="
select-boxes lt-0-5 left">
  <div ng-class="
'col-100 left lb-0-2 def'" ng-repeat="
v in component.values track by $index">
    <input type="
checkbox" id="
{{ componentId }}-{{ v.value }}" name="
{{ componentId }}-{{ v.value }}" value="
{{ v.value }}" tabindex="
{{ component.tabindex || 0 }}" ng-disabled="
readOnly" ng-click="
toggleCheckbox(v.value)" ng-checked="
model[v.value]" grid-row="
gridRow" grid-col="
gridCol" />
    <label for="
{{ componentId }}-{{ v.value }}">
      {{ v.label | formioTranslate }}
    </label>
  </div>
</div>